@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0 10px 0 30px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: #E5E5E5;
}

body {
  background-color: #262626;
}

.active {
  color: #F43F5E;
}

textarea:focus, input:focus {
  outline: none;
}

.task:hover {
  text-decoration: line-through;
  cursor: pointer;
  text-decoration-color: #F43F5E;
}